body {
    /*background-image: linear-gradient(218deg, rgba(255,106,149,1) 10%, rgba(255,139,169,1) 35%, rgba(255,203,219,1) 100%);*/
    background: linear-gradient(90deg, #ff6a95 0%, #ff8ba9 0%, #ffcbdb 100%);
}

#field {
  font-weight: bolder;
}

.pink {
    background-color: #ff8ba9;
}

a {
    text-decoration-line: none;
    color:white
}

a:hover{
    color:white;
}


  .custom-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra do card */
    background-color: #ffffff; /* Fundo branco do card */
    padding: 20px;
    border-radius: 10px;
  }

  #hello_kitty {
    background-color: #ffcbdb;
    background-image: url(../static/img/hellokitty.svg);
    margin-bottom: 50px;
  }

  



body {
  padding: 0px !important;
  margin: 0px !important;
}

.custom-card {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

#user-image {
  border: none;
  border-radius: 100%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

select.form-select {
  padding: 10px; 
  border: 1px solid #ff8ba9; 
  border-radius: 10px; 
  background-color: #fd88afa1; 
  color: #ffffff; 
  cursor: pointer; 
  outline: none; 
  margin-right: 5px;
}

select.form-select option {
  padding: 10px; 
  background-color: #fce4ec; 
  color: #ff239c; 
}

button.btn.btn-primary {
  padding: 10px; 
  border: 1px solid #ff8ba9; 
  border-radius: 10px; 
  background-color: #fd88afa1; 
  color: #ffffff; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}


button.btn.btn-primary:hover {
  background-color: #ff239c; 
}

a.btn-primary {
  padding: 10px;
  border: 1px solid #ff8ba9;
  border-radius: 10px;
  background-color: #fd88afa1;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

a.btn-primary:hover {
  background-color: #ff239c;
  color: #ffffff;
}

#logout {
  margin-left: 25%;
  margin-bottom: 5px;
}