{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
        
    <div class="row d-flex justify-content-center align-items-center vh-100" style="height: 100vh;">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
                <div class="text-center">
                    <img src="../static/img/if.png" width="50%">
                </div>
                <h5 class="card-title text-center mt-3 mb-5 fw-light fs-5">Escolha o ano que deseja ter acesso ao boletim</h5> 
                    <div class="d-grid gap-2">
                        <form action="{{ url_for('boletim') }}" method="post">
                            <select name="ano">
                                <option value="2020" name="2020">2020</option>
                                <option value="2021" name="2021">2021</option>
                                <option value="2022" name="2022">2022</option>
                                <option value="2023" name="2023" selected>2023</option>
                            </select>
                            <input type="submit" value="enviar">
                        </form>
                    </div>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}